In [13]:
import mysql.connector
# Connect to the MySQL server
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Tatya313912",
    database="demo1"
)

if connection.is_connected():
    print("Connected to MySQL database")

    # Create a cursor object
    cursor = connection.cursor()

    # Define the SQL query to drop the table
    table_name = "subjectsDb"
    drop_table_query = f"DROP TABLE IF EXISTS {table_name}"

    # Execute the SQL query
    cursor.execute(drop_table_query)

    # Commit the changes
    connection.commit()

    # Close the cursor and the connection
    cursor.close()
    connection.close()
    print("Table deleted successfully")
else:
    print("Failed to connect to MySQL database")

ModuleNotFoundError: No module named 'mysql'

In [4]:
import mysql.connector

# Connect to the MySQL server
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="tanuj1221",
    database="demo1"
)

# Create a cursor object using the connection
cursor = connection.cursor()

# Query to select all records from the institutedb table
query = "SELECT * FROM student14"

try:
    # Execute the query
    cursor.execute(query)

    # Fetch all the rows
    results = cursor.fetchall()

    # Check if any rows are returned
    if results:
        for row in results:
            print(row)  # Print each row
    else:
        print("No data found in the table.")

except mysql.connector.Error as e:
    print(f"Error: {e}")

finally:
    # Close the cursor and connection to free up the resources
    cursor.close()
    connection.close()

('12343', '1221', '13124', '1', '21/2/2024', '29/2/2024', 'Rajesh', 'Mishra', 'Shanti', 'Murali', '[101]', 'paid', '[11]', '2024', 'yes', '10', 'no', '1')
('12343', '1221', '13124', '1', '21/2/2024', '29/2/2024', 'Rajesh', 'Mishra', 'Shanti', 'Murali', '[101]', 'paid', '[11]', '2024', 'yes', '10', 'no', '1')
('12343', '1221', '13124', '1', '21/2/2024', '29/2/2024', 'Rajesh', 'Mishra', 'Shanti', 'Murali', '[101]', 'paid', '[11]', '2024', 'yes', '10', 'no', '1')
('12343', '1221', '13124', '1', '21/2/2024', '29/2/2024', 'Rajesh', 'Mishra', 'Shanti', 'Murali', '[101]', 'paid', '[11]', '2024', 'yes', '10', 'no', '1')
('29054', '1315', None, None, None, None, 'sanket ', 'patil', 'Rani', 'Maharaj', '["101"]', 'pending', '[11]', None, 'yes', '10', 'no', None)
('59396', '2486', None, None, '21/2/2024', '29/2/2024', 'sanket ', 'Chavan', 'Rani', 'Maharaj', '["101"]', 'pending', '[11]', '2024', 'yes', '10', 'no', '1')
('78604', '1294', '13124', None, '21/2/2024', '29/2/2024', 'sanket ', 'Chavan', 'Rani', 'Maharaj', '["102"]', 'pending', '[11]', '2024', 'yes', '10', 'no', '1')