In [21]:
import mysql.connector

# Connect to the MySQL server
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="tanuj1221",
    database="demo1"
)

if connection.is_connected():
    print("Connected to MySQL database")

    # Create a cursor object
    cursor = connection.cursor()

    # Define the SQL query to drop the table
    table_name = "coursesDb1"
    drop_table_query = f"DROP TABLE IF EXISTS {table_name}"

    # Execute the SQL query
    cursor.execute(drop_table_query)

    # Commit the changes
    connection.commit()

    # Close the cursor and the connection
    cursor.close()
    connection.close()
    print("Table deleted successfully")
else:
    print("Failed to connect to MySQL database")

Connected to MySQL database
Table deleted successfully